
.container{
    height: 100%;
    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;
}

.container .main{
    background-color: antiquewhite;
    position: relative;
    flex: 1;
    overflow: hidden;
}

.container .controlbar{
        
}
