
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.container .controlbar{
        
}
